# Exercise 1-03: Applying Feature Engineering to Text Data

In [1]:
# In this exercise, we will be converting the text features of the tips dataset into numerical data.

In [5]:
# Import scikit-learn's LabelEncoder() class, as well as the pandas library.
# Load tips dataset from seaborn library and display the top 5 rows.
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import seaborn as sns
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
# Convert each of the text features into numeric values using the class that 
# was imported previously (LabelEncoder). For each of the categorical features, 
# we use the built-in fit_transform() method from the class, which will assign a numeric 
# value to each category and output the result.
enc = LabelEncoder()
tips["sex"] = enc.fit_transform(tips['sex'].astype('str'))
tips["smoker"] = enc.fit_transform(tips['smoker'].astype('str'))
tips["day"] = enc.fit_transform(tips['day'].astype('str'))
tips["time"] = enc.fit_transform(tips['time'].astype('str'))

In [7]:
# Print out the top values of the tips dataset
tips.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4